<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evensia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pesan_gedung"></activity>
        <activity android:name=".navigation" />
        <activity android:name=".home.row_data_event" />
        <activity android:name=".detail.row_data_ulasan" />
        <activity android:name=".detail.review" />
        <activity android:name=".gedung.gedung" />
        <activity android:name=".gedung.row_data_recycler" />
        <activity android:name=".Search_Gedung" />
        <activity android:name=".otp" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.Login1" />
        <activity android:name=".register.MainActivity" />
        <activity android:name=".home.Home" />
    </application>

</manifest>